

:root{
    --font:rgba(60, 59, 56, 0.622);
    --Background:rgba(112, 106, 220, 0.567);
    --Gradient:linear-gradient(to bottom right,rgba(107, 10, 242, 0.383),rgba(232, 155, 232, 0.74),rgba(0, 238, 255, 0.778));
    --gray:rgba(59, 56, 56, 0.381);
    --card:rgba(210, 206, 206, 0.42);
}
*{
    margin: 0;
    padding: 0;
}



body{
    background: var(--Background);
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
} 

#main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar{
    background-color: var(--card);
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 20px var(--gray);
}
.bar a > span{

 font-size: xx-large;
}

.bar a{
    color: var(--font);
}

h2{
    padding: 10px;
    margin-bottom: 0px;
  
}

.container{
   
    padding-left: 20px;
    padding-bottom: 6px; 
    display: flex;
}

.card1,.card2,.card3{
    color: #383535bf;
    background: rgba(210, 206, 206, 0.42);
    width: 350px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 1%;
    margin-top: 2%;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow:var(--card);
}

.card1{
    height:470px;
}
.card2{
height: 590px;
}
.card3{
    height: 375px;
}

.card1 > .content{
    height:355px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 350px;
}
.card2 > .content{
height: 472px;
overflow-y: scroll;
overflow-x: hidden;
width: 350px;
}
.card3 > .content{
    height: 237px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 350px;
}

.card1  .content  .task span{
    
    position: sticky;
    float: right ;
    top: 20px;
    width: 39px;
    height: 39px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.card2  .content  .task span{
    position: sticky;
    float: right ;
    top: 20px;
    width: 39px;
    height: 39px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.card3  .content  .task span{
    position: sticky;
    float: right ;
    top: 20px;
    width: 39px;
    height: 39px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.removed {
    transform: translateX(100vw); /* Translate the element horizontally */
}
#second {
    transition: transform 1s 0s; /* Apply a 1-second transition to the transform property */
}




.card1 ,.card2,.card3{
    padding: 10px;
    
 
    
}



.task{
    
    background-color: rgba(255, 255, 255, 0.562);
    width:315px;
    height: 100px;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 10px 0px 0px 10px;
    color:var(--font) ;
    border-bottom:3px solid rgb(193, 185, 185);
    border-right:3px solid rgb(193, 185, 185);
    box-shadow:0 0 10px rgba(18, 18, 18, 0.37);
    }


    input{
        border: 2px solid var(--gray);
        outline: none;
        border-radius:30px;
        font-size: larger;
        width: 15pc;
        height: 35px;
        background-color:rgba(255, 255, 255, 0.519);
        transition: 1s;
    }
 
    button{
        margin: 0px;
        padding: 10px;
        position: relative;
        left: 30px;
        border: 2px solid var(--gray);
        background-color:rgba(255, 255, 255, 0.519);
        outline: none;
        border-radius:100px;
        font-size: larger;
        cursor: pointer;
        
    }

    ::-webkit-scrollbar{
        width:10px;
        scroll-behavior: smooth;
      
       
    }
    ::-webkit-scrollbar-track{
        margin-block: 10px;
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar-thumb{
        background: var(--gray) ;
        border-radius: 30px;
        scroll-behavior: smooth;
        padding: 10px;
    }

    @media only screen and (max-width: 600px) {
        body{
            overflow: hidden;
        }
        #main{
            display: block;
            
        }
        .container{
            
            display: block;
            overflow: hidden;
            margin-left:10px;
            padding: 0;
        }
        body{
            overflow: visible;
        }
        .card1,.card2,.card3{
            margin-bottom: 20px;
        }

        .card1,.card2,.card3{
            color: #383535bf;
            background: rgba(210, 206, 206, 0.42);
            width: 300px;
            border-radius: 15px;
            margin-right: 10px;
            margin-left: 1%;
            margin-top: 2%;
            font-size: medium;
            font-family:Arial, Helvetica, sans-serif;
            box-shadow:var(--card);
        }

        input{
            border: 2px solid var(--gray);
            outline: none;
            border-radius:30px;
            font-size: larger;
            width: 12pc;
            height: 35px;
            background-color:rgba(255, 255, 255, 0.519);
            transition: 1s;
        }
     
        button{
            margin: 0px;
            padding: 10px;
            position: relative;
            left: 30px;
            border: 2px solid var(--gray);
            background-color:rgba(255, 255, 255, 0.519);
            outline: none;
            border-radius:100px;
            font-size: larger;
            cursor: pointer;
            
        }

        .task{
    
            background-color: rgba(255, 255, 255, 0.562);
            width:270px;
            height: 100px;
            margin-left: 9px;
            margin-right: 9px;
            border-radius: 10px;
            margin-bottom: 2%;
            padding: 10px 0px 0px 10px;
            color:var(--font) ;
            border-bottom:3px solid rgb(193, 185, 185);
            border-right:3px solid rgb(193, 185, 185);
            box-shadow:0 0 10px rgba(18, 18, 18, 0.37);
            }
            ::-webkit-scrollbar{
                width:5px;
                scroll-behavior: smooth;
              
               
            }
            ::-webkit-scrollbar-track{
                margin-block: 10px;
                scroll-behavior: smooth;
            }
            ::-webkit-scrollbar-thumb{
                background: var(--gray) ;
                border-radius: 30px;
                scroll-behavior: smooth;
                padding: 10px;
            }

          }

    @media only screen and (max-width: 760px) {
        #main{
            display: block;
        }
        
        .container{
            
                display: block;
                overflow: hidden;
                margin-left:10px;
                padding: 0;
            }
       
        .card1,.card2,.card3{
            margin-bottom: 20px;
        }
        #main{
            display: block;
        }
    
        
    }


          